body {
    background-color:rgb(20, 20, 20);
    padding-top: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gallery-item {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

/* Reset margin */
body {
  margin: 0;
}

/* ---------- NAV BAR ---------- */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.top-bar {
  height: 125px;
  background-color: rgb(17, 17, 17);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.logo img {
  height: 80px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  color: #eaeaea;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: rgb(43, 1, 63);
}


/* Lightbox overlay */
.lightbox {
  display: none; /* hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  z-index: 2000; /* above top bar */
  flex-direction: column;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
  margin-bottom: 20px;
}

#close-lightbox {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  user-select: none;
}

#lightbox-caption {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

h2 {
  color: rgb(17, 17, 17);
}

.hero {
  height: 100vh;
  background: linear-gradient(
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(43, 1, 63),
    rgb(43, 1, 63),
    rgb(0, 0, 0),
    rgba(20, 20, 20, 0.5)
  );

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

h1 {
  color:#eaeaea;
}

p{
  color:#eaeaea;
}
